<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="card m-3">
        <h5 class="card-header">Angular 10 Dynamic Reactive Forms Example</h5>
        <div class="card-body border-bottom">
            <div class="form-row">
                <div class="form-group">
                    <label>Number of Tickets</label>
                    <select formControlName="numberOfTickets" class="form-control" (change)="onChangeTickets($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
                        <option value=""></option>
                        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                    </select>
                    <div *ngIf="submitted && f.numberOfTickets.errors" class="invalid-feedback">
                        <div *ngIf="f.numberOfTickets.errors.required">Number of tickets is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let ticket of ticketFormGroups; let i = index" class="list-group list-group-flush">
            <div class="list-group-item">
                <h5 class="card-title">Ticket {{i + 1}}</h5>
                <div [formGroup]="ticket" class="form-row">
                    <div class="form-group col-3">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" />
                       
                      
                    </div>
                    <div class="form-group col-3">
                        <label>age</label>
                        <input type="text" formControlName="age" class="form-control"  />
                       
                    </div>
                    <div class="form-group col-3">
                        <label>gender</label>
                        <input type="text" formControlName="gender" class="form-control"  />
                       
                    </div>
                    <div class="form-group col-3">
                        <label>mealType</label>
                        <input type="text" formControlName="mealType" class="form-control"  />
                       
                    </div>
                    <div class="form-group col-3">
                        <label>seatNo</label>
                        <input type="text" formControlName="seatNo" class="form-control"  />
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center border-top-0">
            <button class="btn btn-primary mr-1">Buy Tickets</button>
            <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
            <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
        </div>
    </div>
</form>